body {
    background-color: #f9fafb;
    font-family: 'Inter', sans-serif;
    flex-wrap: wrap;
}

a{
    text-decoration: none;

}


.modal {
     
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  /* Modal content container */
  .modal-content {
    background-color: #fff;
    margin: 15% auto; /* Adjusted margin for better centering */
    padding: 20px;
    border-radius: 10px;
    width: 280px; /* Slightly smaller to fit better */
  }
  
  /* Close button */
  .close {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* Close button hover effect */
  .close:hover {
    color: #000;
  }
  
  /* Input fields styling */
  .modal-content input[type="text"],
  .modal-content input[type="email"],
  .modal-content input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0; /* Reduced margin for closer alignment */
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    box-sizing: border-box;
  }
  
  /* Button styling */
  .modal-content button {
    padding: 0.5rem 0.75rem;
    width: 100%;
    padding: 10px;
    background-color:  #111;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
  }
  
  /* Button hover effect */
  .modal-content button:hover {
    background-color: #45a049;
  }
  
  
  